:vars {
    --background: #0a0b0b;
    --foreground: #e3e4e2;

    --color0: #0a0b0b;
    --color1: #575F65;
    --color2: #6C6F6F;
    --color3: #85847D;
    --color4: #727A83;
    --color5: #A3A29A;
    --color6: #C4C2B9;
    --color7: #e3e4e2;
    --color8: #9e9f9e;
    --color9: #575F65;
    --color10: #6C6F6F;
    --color11: #85847D;
    --color12: #727A83;
    --color13: #A3A29A;
    --color14: #C4C2B9;
    --color15: #e3e4e2;
}