@import url("style.css");


.window {
    background-color: var(--color1);
    color: var(--foreground);
    margin: 0 50px 0 0;
    /* TL TR BL BR */
    border-radius: 0px 0px 10px 10px;
    transition: opacity 200ms ease;
    opacity: 1;
}

.window.anim-out {
    opacity: 0;
}

.launcher-root {
    /* T R B L */
    padding: 10px 10px 0px 10px;
    transition: margin-top 200ms ease;
    margin-top: 0px;
}

.window.anim-out .launcher-root {
    margin-top: -20px;
}

.search-row {
    padding: 2px 5px;
    border-radius: 18px;
    background-color: var(--color0);
    border: 1px solid var(--color2);
}

.search-entry {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 2px 2px;
    color: var(--foreground);
}

.app-scroll {
    background-color: transparent;
}

.app-scroll scrollbar,
.app-scroll scrollbar slider {
    opacity: 0;
    min-width: 0;
    min-height: 0;
}

.app-grid {
    /* padding: 2px; */
}

.app-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.app-card {
    padding: 8px 8px;
    border-radius: 16px;
    background-color: var(--color2);
    border: 1px solid var(--color3);
    min-width: 110px;
    /* min-height: 10px; */
    /* max-width: 110px;
    max-height: 110px; */
}

.app-button:hover .app-card {
    background-color: var(--color3);
    border-color: var(--color4);
}

.app-button:focus,
.app-button:focus-visible,
.app-button:active {
    outline: none;
    box-shadow: none;
}

.app-button:focus .app-card,
.app-button:focus-visible .app-card,
.app-button:active .app-card {
    box-shadow: none;
}

.app-button.app-selected .app-card {
    border-color: var(--color7);
    box-shadow: 0 0 0 1px var(--color7);
}

.app-label {
    font-size: 10px;
}

.web-card {
    background-color: var(--color4);
}

.web-button:hover .web-card {
    background-color: var(--color5);
}